# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
obj/
*.pyc

# Rasa specific
models/
results/
.rasa/
*.tar.gz
*.db
events.out
.db
# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Environment variables
.env
